body {
    margin: 0;
    font-family: "Poppins", "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 0px 0px;
}

.navigationbar {
    height: 55px;
    width: 100%;
    background-color: #0d5a72;
}

.container {
    display: grid;
    grid-template-columns: 1.5fr 2px 1fr;
    height: 93.6vh;
}



.leftSection {
    background: #d5f1f1;
    background-color: #d5f1f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.rightSection {
    background: #d5f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loginForm {
    width: 355px;
    padding: 1px;
    text-align: center;
}


label {
    display: block;
    text-align: left;
    margin-left: 0px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 488;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid grey;
    border-radius: 5.5px;
    margin-bottom: 13px;
    font-family: "Poppins";
}

.signinButton {
    width: 105%;
    padding: 9px;
    background-color: #1d5b70;
    background: #1d5b70;
    color: #fff;
    border: solid black 0px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.signinButton:hover {
    background: #174957e8;
}

.signupText {
    font-family: "Poppins";
    margin-top: 9px;
    font-size: 13px;
}
.mobileLogo {
    display: none;
}
@media (max-width: 1050px) {
    .divider {
        display: none;
    }
    .container {
    display:flex;
    height: 93.6vh;
    }
    .rightSection{
        width: 100%;
        padding-bottom: 150px
    }
    .mobileLogo {
    display: block;
    }

}